.bookCard {
  border: 4px solid rgb(255, 184, 148);
  padding: 16px;
  background-color: #fffaf0;
  margin-top: 2rem;
  max-width: 320px; 
  margin: 2rem auto 0;
  box-shadow:
  0 4px 8px rgba(0, 0, 0, 0.08),
  0 10px 24px rgb(255, 218, 154);
}

.bookCard h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.bookCard p {
  margin: 1rem 0 1rem 0;
}

.bookImage {
  width: 100%;
  aspect-ratio: 7 / 10;
  object-fit: contain;
  margin: 12px 0;
}

@media (max-width: 600px) {
    .bookCard h2 {
      font-size: 1rem;
    }

    .bookCard {
      max-width: 90%;
    }
  }
  