.bookCard{
    border: 1px solid black;
    padding: 16px;
    background-color: #fffaf0;
    margin-top: 2rem;
}

.bookCard h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.bookCard p {
    margin: 1rem 0 1rem 0;
}