.header {
    background-color: #F8E9D4;
    color: black;
    padding-top: 2rem;
}

.headerTitle{
    text-align: center;
    margin: 0 0 12px 0;
}

.banner img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    display: block;
}

@media (max-width: 600px) {
    .banner img {
        height: 160px;
    }
}