/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic settings */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  color: #000;
}

/* Makes the app always fill the height */
html,
body,
#root {
  min-height: 100%;
}
